namePrefix: pmem-csi-

resources:
- https://github.com/kubernetes-csi/external-provisioner/raw/v1.6.0/deploy/kubernetes/rbac.yaml

# We define our own service account.
patchesStrategicMerge:
- ../../patches/delete-csi-provisioner-service-account-patch.yaml

# We use the upstream [Cluster]RoleBinding and just replace
# the account name.
patchesJson6902:
- target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: ClusterRoleBinding
    name: csi-provisioner-role
  path: ../../patches/controller-role-patch.yaml
- target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: RoleBinding
    name: csi-provisioner-role-cfg
  path: ../../patches/controller-role-patch.yaml
